.container{
    background-color: darkslategrey;
    padding: 1%;
    margin-left: 20%;
    margin-right:20%
}

.rt{
    font-style: italic;
    color: white;
    font-weight: 1000;
    text-align: center;
    size: 1000px;
    
}

.al{
    color: aliceblue;
}

.fieldset{
    width: 40%;
}

.submit-btn{
    padding: 10px 20px; 
    font-size: 16px;  
    
}

.myCanvas{
    align-content: center;
    padding-right: 10%;
}